*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}
#root{
    height: 100vh;
    background-image: url('/public/image.jpg');
     background-size: cover;
     background-position: center;
}
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }

  .poem::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.poem::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.poem::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
